<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('head'); %>
</head>
<body>
    <div class="container row  mx-auto mt-5">
        <div class="col-md-12 text-center mt-5">
            <img src="imgs/logo.png" style="width: 50%" alt="DudyFit" class="mt-5" >
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 mt-5 text-center">
            
                <a href="/conf" class="btn btn-primary" role="button">Configuracion</a>
           
        </div>
        <div class="col-md-6  mt-5 text-center">
            <a href="/result" class="btn btn-primary" role="button">Resultados</a>
        </div>

    </div>
</body>
</html>